.center-viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.control,
.control:focus,
.control:active {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;
  touch-action: manipulation;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
